* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.img {
  border-radius: 10px;
  width: 320px;
}

.photo-card {
  width: auto;
  min-height: 280px;
}

.is-hidden {
  display: none;
}
