<form class="search-form bg-info p-3" id="search-form">
  <div class="input-group w-50 my-3 mx-auto">
    <input
      class="form-control js-input"
      type="text"
      name="query"
      autocomplete="off"
      placeholder="Search images..."
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
    />
    <button
      class="btn btn-secondary js-search-btn"
      type="submit"
      id="button-addon2"
    >
      <span class="material-icons">image_search</span>
    </button>
  </div>
</form>
<section>
  <div class="container js-container">
    <ul
      class="gallery d-flex justify-content-around p-0 flex-wrap js-list"
    ></ul>
  </div>
</section>
<div class="d-grid gap-2 col-6 my-3 mx-auto">
  <button class="btn btn-secondary js-more-btn" type="submit">
    Show more <span class="material-icons mt-1">image</span>
  </button>
</div>
